* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-clr: rgb(26, 26, 34);
    --fg-clr: rgb(17, 17, 22);
    --accent-clr: rgb(78, 46, 121);
    --text-clr: white;
    --hidden-text-clr: rgb(170, 170, 170);
    --border-radius: 0.45rem;
    --backdrop-url: url("");
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-clr);
    color: var(--text-clr);
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

#avatar {
    border-radius: 50%;
}

.display {
    min-width: 35vw;
    padding: 1.75em;
    background: var(--fg-clr);
    border-radius: var(--border-radius);
}

.userinfo {
    background-image:
        linear-gradient(
            rgb(0, 0, 0, 0.7),
            rgb(0, 0, 0, 0.7)
        ),
        var(--backdrop-url);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: var(--border-radius);
    padding: 1em 1em;

    display: grid;
    grid-template-columns: min-content 1fr max-content;
    gap: 0 12px;
    align-items: center;
    grid-template-areas:
        "avatar display view"
        "avatar username view"
        "avatar status view";
}

#avatar {
    grid-area: avatar;
}
#username {
    color: var(--hidden-text-clr);
    grid-area: username;
}
#display {
    grid-area: display;
}
#status {
    display: flex;
    align-items: center;
    gap: 6px;
    grid-area: status;
}
#viewuser {
    grid-area: view;
}

.activity {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 0px 12px;
    align-items: center;
    grid-template-areas: 
        "images name"
        "images details"
        "images state";
}

.act-name {
    font-weight: 700;
    grid-area: name;
}
.act-details {
    grid-area: details;
}
.act-state {
    grid-area: state;
}

.act-images {
    position: relative;
    grid-area: images;
}

.largeimage {
    border-radius: var(--border-radius);
}

.smallimage {
    position: absolute;
    bottom: -4px;
    right: -4px;

    border-radius: 50%;
    border: 4px solid var(--fg-clr);
}

.activities {
    display: grid;
    gap: 16px 0;
}

.return {
    position: absolute;
    top: 8px;
    left: 8px;
}

a {
    text-decoration: none;
}

.button {
    cursor: pointer;
    padding: 4px 8px;

    border: transparent;
    border-radius: var(--border-radius);
    color: var(--text-clr);
    background: var(--accent-clr);
}